.main-screen {
  padding: 0px var(--horizontal-space);
  margin-top: 120px;
}

.friends-screen__updated-header {
  margin-bottom: 30px;
  display: flex;
}
.user-component__updated {
  display: flex;
}
.friends-screen__updated,
.friends-screen__channel,
.friends-screen__friendslst,
.friends-screen__chats {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  border-top: var(--border);
  padding-top: 15px;
}
.friends-screen__friendslst {
  padding-bottom: 80px;
}
.friends-screen__channel-header,
.friends-screen__friendslst-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.friends-screen__chats {
  border: none;
}
